In [1]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /home/neel/.local/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/neel/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/neel/.local/lib/python3.8/site-packages (from pandas) (2022.4)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/neel/.local/lib/python3.8/site-packages (from pandas) (1.22.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)

In [1]:
import pandas

In [2]:
help(pandas)

/usr/lib/python3.8/inspect.py:350: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
/usr/lib/python3.8/inspect.py:350: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
/usr/lib/python3.8/inspect.py:350: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [4]:
    import pandas as pd

In [5]:
data = [1,2,3]
df = pd.DataFrame(data)

In [6]:
df

   0
0  1
1  2
2  3

In [7]:
data = [['Neel', 80], ['Yogesh', 76], ['Mihir', 75]]
df = pd.DataFrame(data)

In [8]:
df

        0   1
0    Neel  80
1  Yogesh  76
2   Mihir  75

In [11]:
data = [['Neel', 80], ['Yogesh', 76], ['Mihir', 75]]
df = pd.DataFrame(data, columns=['Name', 'Marks'])

In [12]:
df

     Name  Marks
0    Neel     80
1  Yogesh     76
2   Mihir     75

In [16]:
roll = pd.DataFrame([45,67,34],columns = "Roll No")

TypeError: Index(...) must be called with a collection of some kind, 'Roll No' was passed

In [17]:
roll = pd.DataFrame([45,67,34],columns = ["Roll No"])

In [18]:
roll

   Roll No
0       45
1       67
2       34

In [19]:
df['Roll_No'] = rollDF['Roll No']

NameError: name 'rollDF' is not defined

In [20]:
df['Roll_No'] = roll['Roll No']

In [21]:
df

     Name  Marks  Roll_No
0    Neel     80       45
1  Yogesh     76       67
2   Mihir     75       34

In [22]:
del df['Roll_No']

In [23]:
df

     Name  Marks
0    Neel     80
1  Yogesh     76
2   Mihir     75

In [24]:
std = pd.DataFrame(["Mohit" , 79])

In [25]:
std

       0
0  Mohit
1     79

In [26]:
df.head()

     Name  Marks
0    Neel     80
1  Yogesh     76
2   Mihir     75

In [27]:
df.tail()

     Name  Marks
0    Neel     80
1  Yogesh     76
2   Mihir     75

In [28]:
df.tail(1)

    Name  Marks
2  Mihir     75

In [29]:
df.head(2)

     Name  Marks
0    Neel     80
1  Yogesh     76

In [30]:
df.tail(2)

     Name  Marks
1  Yogesh     76
2   Mihir     75

In [31]:
df(head = 2, tail = 2)

TypeError: 'DataFrame' object is not callable

In [32]:
df.head3.tail1

AttributeError: 'DataFrame' object has no attribute 'head3'

In [33]:
df.head(3).tail(1)

    Name  Marks
2  Mihir     75

In [34]:
df.append(std)

/tmp/ipykernel_12844/2582677071.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(std)

     Name  Marks      0
0    Neel   80.0    NaN
1  Yogesh   76.0    NaN
2   Mihir   75.0    NaN
0     NaN    NaN  Mohit
1     NaN    NaN     79

In [35]:
df

     Name  Marks
0    Neel     80
1  Yogesh     76
2   Mihir     75

In [36]:
df.tail(1)

    Name  Marks
2  Mihir     75

In [37]:
pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [38]:
pd.read_csv(student.csv)

NameError: name 'student' is not defined

In [39]:
pd.read_csv(/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv)

SyntaxError: invalid syntax (4178116407.py, line 1)

In [40]:
pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv")

   roll_no name   dpt  marks
0        1  abc    IT     50
1        2  pqr  Comp     40
2        3  xyz    IT     55

In [41]:
pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv", header = none)

NameError: name 'none' is not defined

In [42]:
pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv", header = None)

         0     1     2      3
0  roll_no  name   dpt  marks
1        1   abc    IT     50
2        2   pqr  Comp     40
3        3   xyz    IT     55

In [43]:
pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv")

   1  abc    IT  50
0  2  pqr  Comp  40
1  3  xyz    IT  55

In [44]:
pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv", header = None)

   0    1     2   3
0  1  abc    IT  50
1  2  pqr  Comp  40
2  3  xyz    IT  55

In [46]:
pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv", names=('RollNo', 'Name', 'Dept', 'Marks'))

   RollNo Name  Dept  Marks
0       1  abc    IT     50
1       2  pqr  Comp     40
2       3  xyz    IT     55

In [47]:
pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv", names=('RollNo', 'Name', 'Dept', 'Marks') ,index_col=0)

       Name  Dept  Marks
RollNo
stud1   abc    IT     50
stud2   pqr  Comp     40
stud3   xyz    IT     55

In [49]:
df = pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv", names=('RollNo', 'Name', 'Dept', 'Marks') ,index_col=0)

In [50]:
df

       RollNo Name  Dept  Marks
stud1       1  abc    IT     50
stud2       2  pqr  Comp     40
stud3       3  xyz    IT     55

In [51]:
df.to_csv("student_new.csv")

In [52]:
df.to_json("Student.json")

In [53]:
pd.read_json("Student.json")

       RollNo Name  Dept  Marks
stud1       1  abc    IT     50
stud2       2  pqr  Comp     40
stud3       3  xyz    IT     55

## Doing on URL

In [54]:
import requests
from pandas.io.json import json_normalize

In [55]:
url = "https://api.exchangerate-api.com/v4/latest/USD"

In [60]:
pd.read_json(url)

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,87.92
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,118.37
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,404.10
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,1.79
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,122.24
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,250.51
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,18.05
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,15.82
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,627.13

In [61]:
df

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,87.92
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,118.37
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,404.10
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,1.79
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,122.24
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,250.51
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,18.05
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,15.82
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,627.13

In [62]:
df['rates']

AED      3.67
AFN     87.92
ALL    118.37
AMD    404.10
ANG      1.79
        ...
XPF    122.24
YER    250.51
ZAR     18.05
ZMW     15.82
ZWL    627.13
Name: rates, Length: 162, dtype: float64

In [63]:
type(df['rates'])

pandas.core.series.Series

In [64]:
df[['rates','date']]

      rates       date
AED    3.67 2022-10-09
AFN   87.92 2022-10-09
ALL  118.37 2022-10-09
AMD  404.10 2022-10-09
ANG    1.79 2022-10-09
..      ...        ...
XPF  122.24 2022-10-09
YER  250.51 2022-10-09
ZAR   18.05 2022-10-09
ZMW   15.82 2022-10-09
ZWL  627.13 2022-10-09

[162 rows x 2 columns]

In [65]:
type(df[['rates','date']])

pandas.core.frame.DataFrame

In [66]:
df

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,87.92
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,118.37
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,404.10
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,1.79
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,122.24
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,250.51
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,18.05
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,15.82
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,627.13

In [67]:
df = pd.read_csv("/home/neel/Documents/GitHub/Learning/Python/College/Workshop/Day2/student.csv", names=('RollNo', 'Name', 'Dept', 'Marks') ,index_col=0)

In [68]:
df

       RollNo Name  Dept  Marks
stud1       1  abc    IT     50
stud2       2  pqr  Comp     40
stud3       3  xyz    IT     55

In [71]:
df = pd.read_json("https://api.exchangerate-api.com/v4/latest/USD")

In [72]:
df

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,87.92
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,118.37
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,404.10
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,1.79
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,122.24
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,250.51
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,18.05
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,15.82
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,627.13

In [73]:
df.loc["usd"]

KeyError: 'usd'

In [74]:
df.loc["USD"]

provider                           https://www.exchangerate-api.com
WARNING_UPGRADE_TO_V6    https://www.exchangerate-api.com/docs/free
terms                        https://www.exchangerate-api.com/terms
base                                                            USD
date                                            2022-10-09 00:00:00
time_last_updated                                        1665273602
rates                                                           1.0
Name: USD, dtype: object

In [75]:
df.iloc[3,0:3]

provider                           https://www.exchangerate-api.com
WARNING_UPGRADE_TO_V6    https://www.exchangerate-api.com/docs/free
terms                        https://www.exchangerate-api.com/terms
Name: AMD, dtype: object

In [77]:
df.iloc[0:3]

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,87.92
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,118.37

In [78]:
df.iloc[3:4,1:3]

,WARNING_UPGRADE_TO_V6,terms
AMD,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms

In [79]:
df.iloc[1:2+6:7,2:3+4:5]

                                      terms
AFN  https://www.exchangerate-api.com/terms

In [81]:
df.iloc[[1,2][6,7],[2,3][4,5]]

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]
/tmp/ipykernel_12844/2846376644.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.iloc[[1,2][6,7],[2,3][4,5]]

TypeError: list indices must be integers or slices, not tuple

In [83]:
df.iloc[1:2:6:7,2:3:4:5]

SyntaxError: invalid syntax (2272090010.py, line 1)

## : indicates include first and exclude last

## [a,b] indiated a and b

In [84]:
df.iloc[[0,5],[1,3]]

                          WARNING_UPGRADE_TO_V6 base
AED  https://www.exchangerate-api.com/docs/free  USD
AOA  https://www.exchangerate-api.com/docs/free  USD

In [85]:
df.sort_values(by='rates') #-- asc

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
KWD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.300
BHD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.376
OMR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.384
JOD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.709
XDR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.780
...,...,...,...,...,...,...,...
IDR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,15229.760
SLL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,16530.480
LAK,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,16631.190
VND,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,23889.610
IRR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,42075.740

In [86]:
df.sort_values(by='rates', ascending=False)# -- desc

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
IRR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,42075.740
VND,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,23889.610
LAK,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,16631.190
SLL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,16530.480
IDR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,15229.760
...,...,...,...,...,...,...,...
XDR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.780
JOD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.709
OMR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.384
BHD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.376
KWD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-10-09,1665273602,0.300

In [87]:
df = pd.read_json("Student.json")

In [88]:
df

       RollNo Name  Dept  Marks
stud1       1  abc    IT     50
stud2       2  pqr  Comp     40
stud3       3  xyz    IT     55

In [90]:
df.sort_values(by = 'Marks')

       RollNo Name  Dept  Marks
stud2       2  pqr  Comp     40
stud1       1  abc    IT     50
stud3       3  xyz    IT     55

In [91]:
df.sort_values(by = 'Marks', descending)

SyntaxError: positional argument follows keyword argument (187151413.py, line 1)

In [92]:
df.sort_values(by = 'Marks', descending = True)

TypeError: sort_values() got an unexpected keyword argument 'descending'

In [93]:
df.sort_values(by = 'Marks', ascending = False).head(1)

       RollNo Name Dept  Marks
stud3       3  xyz   IT     55

In [96]:
df.sort_values(by = ['RollNo','Marks'])

       RollNo Name  Dept  Marks
stud1       1  abc    IT     50
stud2       2  pqr  Comp     40
stud3       3  xyz    IT     55

In [97]:
df.sort_values(by = ['Marks','RollNo'])

       RollNo Name  Dept  Marks
stud2       2  pqr  Comp     40
stud1       1  abc    IT     50
stud3       3  xyz    IT     55

In [98]:
passStd = df[df['Marks'] > 40]

In [99]:
passStd

       RollNo Name Dept  Marks
stud1       1  abc   IT     50
stud3       3  xyz   IT     55

In [100]:
df[df['Dept'] == 'IT']

       RollNo Name Dept  Marks
stud1       1  abc   IT     50
stud3       3  xyz   IT     55

In [101]:
df[ df['Dept'] == 'IT'].sort_values(by = 'Marks').head(1)

       RollNo Name Dept  Marks
stud1       1  abc   IT     50

In [102]:
df

       RollNo Name  Dept  Marks
stud1       1  abc    IT     50
stud2       2  pqr  Comp     40
stud3       3  xyz    IT     55

In [104]:
df[ df['Dept'] == 'IT'].sort_values(by = 'Marks')

       RollNo Name Dept  Marks
stud1       1  abc   IT     50
stud3       3  xyz   IT     55

In [105]:
df[ df['Dept'] == 'IT'].sort_values(by = 'Marks').tail(1)

       RollNo Name Dept  Marks
stud3       3  xyz   IT     55

## Try .group and related commands in sir's notebook

## Wasn't in mood!!! :(